<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>welcome bg-portal~!</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>

</body>
</html>
<script src="../layui/layui.js"></script>
<script>
//全局配置
    layui.config({
        base: '../js/modules/' //设定扩展的Layui模块的所在目录，一般用于外部模块扩展
        ,version: false //一般用于更新模块缓存，默认不开启。设为true即让浏览器不缓存。也可以设为一个固定的值，如：201610
        ,debug: false //用于开启调试模式，默认false，如果设为true，则JS模块的节点会保留在页面
    });
    //加载并使用模块
    layui.use("say",function(){
        layui.say();
    });

</script>